/* Style for most pages on MMH Site */


/* Style our MHH nav bar and logo. */

/* Add a blue background color to the top navigation */
/*div.topnav {
  background-color: #00cccc;
  overflow: hidden;
}
*/
body {
 background-image:  url('../img/scale.png');
 background-color: #f7f4f2;
}
div.navbar-header img {
    width: 30px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}

img.mmh-logo-xs {
    height: 15px;
}

img.mmh-logo-m {
    height: 100px;
}

img.mmh-logo-lg {
    height: 150px;
}

ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #6F9495;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #b4cbca;
  color: white;
}
/* Overide bootstrap for button display*/
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #9BC5C1 !important;
}

/* login form */

.form-signin {
  max-width: 330px;
  margin: 5em auto 0 auto;  /* TRBL */
}

/* responsive table */
#resp-table {
width: 100%;
display: table;
}

.resp-table-title{
display: table-caption;
text-align: center;
font-weight: bold;
font-size: larger;
}

#resp-table-header{
display: table-header-group;
background-color: gray;
font-weight: bold;
font-size: 15px;
}

.table-header-cell{
display: table-cell;
padding: 10px;
text-align: justify;
border-bottom: 1px solid black;
}

#resp-table-body{
display: table-row-group;
}
.table-body-cell{
display: table-cell;
}

/* Styling for webcamcamjs scan.html page
Source https://makitweb.com/how-to-capture-picture-from-webcam-with-webcam-js/ */

#my_camera{
 width: 320px;
 height: 240px;
 border: 1px solid black;
}
