{% extends 'base.html' %}
{% block title %}
Homepage
{% endblock %}
{% block body %}
<div class="container">
  <h1 class="page-header">Manage My Hoard</h1>
  <div>
      <img src="/static/img/mmh2-m-logo.png" class="mmh-logo-m">
  </div>

  <hr>

  <div>
    {% if not session.get('user_id') %}
      <form action="/register">
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    
      <hr>
    
      <form action="/login_form">
       <button class="btn btn-primary" type="submit">Log In</button>
      </form>
    {% endif %}
  </div>  
</div>
<script src="http://code.jquery.com/jquery.js"></script>

{% endblock %}




