{% extends 'base.html' %}
{% block title %}
Update Inventory
{% endblock %}
{% block body %}
<div class="container">
<h2 class="inventory-heading">Inventory</h2>
  <form class="upd_inv" action="/upd_inv/{{ inv_item.inv_id }}" method="POST">
    <div class="form-group">
        <label for="inv-name-data">Name</label>
        <input type="text"
               name="inv_name"
               id="inv-name-data"
               value="{{ inv_item.inv_name }}"
               required
               autofocus
               class="form-control">
    </div>
<!--     insert jinja block to show one with value s or one with value t
 -->    <div class="form-group">
        <label for="inv-type-data">Type:</label>
        <select name="inv_type" class="form-control">
            <option value="s">Supply</option>
            <option value="t">Tool</option>
        </select>
    </div>
    <div class="form-group">
        <label for="size-data">Size:</label>
        <input type="text"
               name="size"
               id="size-data"
               value="{{ inv_item.size }}"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="inv-price-data">Price:</label>
        <input type="text"
               name="price"
               id="inv-price-data"
               value="{{ inv_item.price }}"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="inv_pkg_count">Count per Package:</label>
        <input type="text"
               name="count_per_package"
               id="inv_pkg_count"
               value="{{ inv_item.count_per_package }}"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="manufacturer-data">Manufacturer:</label>
        <input type="text"
               name="manufacturer"
               id="manufacturer-data"
               value="{{ inv_item.manufacturer }}" 
               class="form-control">
    </div>
    <div class="form-group">
        <label for="description-data">Description:</label>
        <textarea type="text"
                  name="description"
                  id="description-data"
                  value="{{ inv_item.description }}"
                  class="form-control">{{ inv_item.description }}
        </textarea>
        

    </div>
    <div class="form-group">
        <label for="keywords-data">Keywords:</label>
        <input type="text"
               name="keywords"
               id="keywords-data"
               value="{{ inv_item.keywords }}"
               class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary" onclick="updInvItem()">Update</button>
    </div>      
  </form>
</div>
<script>
function updInvItem() {
  confirm("Are you sure you want to update this item?");
}
</script>
{% endblock %}