{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}
{% block body %}
<!-- <script src="{{ url_for('static', filename='js/showProjects.js')}}"></script>
 -->
<script src="/static/js/getQuote.js"></script>
<div class="profile">

  <h2 class="profile-heading">Profile</h2>

  <div class="form-group" id=user_profile>
   
   <div>
      <div>
        <p><b>Name:</b> {{ user.fname }} {{user.lname}}</p>
      </div>
      <div>
        <p><b>Username:</b> {{user.username}}</p>
      </div>
      <div>
        <p><b>Email:</b> {{ user.email }}</p>
      </div>
    </div>
  </div>
  
</div>
<div class="container">
  <!-- <form class="ip_projects"  method="POST">
    <button type="submit" class="btn btn-primary" onclick="showProjects()">Show Projects In Progress</button>  -->     
    <p>
      <button id="get-quote-button" class="btn btn-primary">Get Quote</button>
    </p>

    
    <div id="quote-text">
     
    <!-- JS/AJAX should populate this div -->
    </div>
  <!-- </form> -->
</div>



{% endblock %}